/* ProfileSearch Section */

/* ProfileSearch Header */


.search_header{
    display: flex;
    flex-direction: column;
    padding: 2em;

    .profile_search_search_bar{
        padding-top: 1em;
    }

    .filter_section{
        padding-top: 1em;
    }
}







/* Profile Cards */
.profile_search_cards{
    display: flex;
    flex-direction: column;
    background-color: #4D4B48;
    padding-left: 3em;
    padding-right: 3em;

}
.profile_search_card{

    height: 15em;
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right,#414345, #232526);
    border-radius: 1em;
    margin-top: 2em;
    padding-left: 2em;
    padding-top: 3em;
    
    .profile_search_profile_img{
        height: 125px;
        width: 125px;
        border-radius: 1em;
    }

    .profile_search_body{
        padding-left: 2em;
        font-family: 'Roboto';
    }

    .profile_search_p_location{
        font-size: small;
        color: #FFF2D1;
    }

    .profile_search_p_funding{
        font-size: medium;
        color: #8AD976;
    }
    

}

