.card-modules {
    width: 25rem;
}

.card-body-modules {
    background-color: white;    
    background: white;
    color: white;
}

.cover {
    border-radius: 5px;
    height: 10vh;
    color: black;
}

.titl, .mod-title, .inst {
    color: black;
}


.but {
    width: 25rem;
    height: 5rem;
}

.but:hover {
    background-color: grey;
    border: grey;
    color: white;
}

