html, body {
    max-width: 100%;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
  }
  
body{
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }

.card {
    background: #232526; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #414345,
      #232526
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #414345,
      #232526
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 2px 2px 2px grey;
}

/* .container{
    display: flex;
    flex-direction: column;
    width: 35%;
    border: 10px outset whitesmoke;
    padding: 10px;
    margin-left: 30%;
    margin-top: 5%;
    background-color: rgb(31, 30, 29);
  } */

.heading{
    color: white;
    text-align: center;
    padding-bottom: 10%;
    
}

.info{
    color: white;
}